doctype
html(lang='en')
  head
    meta(charset='utf-8')
    link(rel="stylesheet", href="/css/styleIndex.css")
    title Shopping
  body
    header.main-header
      .logo Shooping
      ul
        li
          a(href="/login") Login
        li
          a(href="/register") Register
    h1 Shopping Web
    